{% load static %}

<!-- Core -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/headroom.min.js' %}"></script>

<!-- Vendor JS -->
<script src="{% static 'js/on-screen.umd.min.js' %}"></script>
<script src="{% static 'js/jarallax.min.js' %}"></script>
<script src="{% static 'js/smooth-scroll.polyfills.min.js' %}"></script>
<script src="{% static 'js/vivus.min.js' %}"></script>
<script src="{% static 'js/datepicker.min.js' %}"></script>


<!-- Pixel JS -->
<script src="{% static 'js/pixel.js' %}"></script>
