{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% if topic_list %}
    <form method="get" action="" class="form-inline" role="search">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-secondary" value="Find">
    </form>
    <h1>Topics:</h1>
    <a href="{% url 'news:topic-create' %}" class="btn btn-primary link-to-page">Create</a>
    <ul>
      {% for topic in topic_list %}
        <li>
          <a href="{% url 'news:topic-detail' pk=topic.id %}">{{ topic }}</a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no topics in news agency!</p>
  {% endif %}
{% endblock %}